// Add your custom CSS here.
// desktop acima de 14 polegadas
@media  screen and (min-width: 1368px) {
  .picture.product-card__picture {
    max-height: 400px;
    width: auto !important;
    height: 400px !important;
  }
  .product-card__pictures {
    max-height: 400px;
    width: auto !important;
    height: 400px !important;
  }
  .picture.product-card__picture img {
    max-height: 400px;
    width: auto !important;
    height: 400px !important;
  }
  .product-card--small .product-card__picture img, .product-card--small .product-card__pictures {
    max-height: 300px !important;
    height: 300px !important;
  }
  .pswp__zoom-wrap img {
    height: 1000px !important;
    width: auto !important;
  }
}

//desktop normal size
@media  screen and (min-width: 998px) and (max-width: 1367px) {
  //slider full
  .banner-slider {
    max-width: 100%;
  }
  .picture.product-card__picture {
    max-height: 400px;
    width: auto !important;
    height: 400px !important;
  }
  .product-card__pictures {
    max-height: 400px;
    width: auto !important;
    height: 400px !important;
  }
  .picture.product-card__picture img {
    max-height: 400px;
    width: auto !important;
    height: 400px !important;
  }
  .product-card--small .product-card__picture img, .product-card--small .product-card__pictures {
    max-height: 300px !important;
    height: 300px !important;
  }
  .pswp__zoom-wrap img {
    height: 1000px !important;
    width: auto !important;
  }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 997px) {
  .pswp__zoom-wrap img {
    height: 1000px !important;
    width: auto !important;
  }
  .pswp__zoom-wrap {
    transform: translate3d(6%, 1%, 0) scale(1) !important;
  }
  .picture.product-card__picture {
    max-height: 350px;
    width: auto !important;
    height: 350px !important;
  }
  .product-card__pictures {
    max-height: 350px;
    width: auto !important;
    height: 350px !important;
  }
  .picture.product-card__picture img {
    max-height: 350px;
    width: auto !important;
    height: 350px !important;
  }
}
// apenas mobile
@media screen and (max-width: 480px) {
  .pswp__zoom-wrap img {
    height: 400px !important;
    width: auto !important;
  }
  .pswp__zoom-wrap {
    transform: translate3d(18%, 20%, 0) scale(1) !important;
  }
  .picture.product-card__picture {
    max-height: 250px;
    width: auto !important;
    height: 250px !important;
  }
  .product-card__pictures {
    max-height: 250px;
    width: auto !important;
    height: 250px !important;
  }
  .picture.product-card__picture img {
    max-height: 250px;
    width: auto !important;
    height: 250px !important;
  }
  .product-card {
      padding: var(--spacer-1);
  }
}
footer .header__logo {
  margin-bottom: .5rem;
}
.top-bar__page-links a, .whatsapp-link {
    font-weight: 400;
    color: #9e0017 !important;
}
.header__nav a {
  font-weight: 700;
  color: #9e0017;
}
.top-bar__countdown {
  background: #9e0017;
}
#search-form {
  border: 2px solid #9e0017;
}
.header__search-btn svg {
  font-size: 0px
}
.header__search-btn::after {
  font-size: 1.5rem !important;
  content: 'OK';
  font-weight: bold;
}
.products-carousel__title {
  color: #727272;
  text-transform: uppercase;
}
.header__buttons .btn .badge {
    top: 25px;
    right: 17px;
}
#cart-count {
  color: #000;
  background: #fff;
  font-weight: 400;
}
.product-card__name, .prices.product-card__prices {
  text-align: center;
}
.product-card .prices__discount {
  display: none;
}
.product-card__prices .prices__compare::before {
  content: 'De ';
}
.product-card__prices .prices__compare {
  text-decoration: none !important;
}
.product-card__prices .prices__value::before {
  content: 'Por ';
}
.product-card__prices .prices__value {
  color: #00e589;
}
.product-card__prices .prices__installments::before {
  content: 'ou ';
  font-weight: 400;
}
.product-card__prices .prices__installments span::before {
  content: 'de ';
  font-weight: 400;
}
.product-card__prices .prices__installments {
  font-weight: 700 !important;
}
.top-bar, #header {
  background: #fff;
}
#header {
  border: none;
}
.product__prices .prices__compare small {
  text-transform: none !important;
  padding-right: .2rem;
}
.product__prices .prices__compare small:last-child {
  display: none;
}
.product__prices .prices__value::before {
  content: 'Por ';
  font-weight: 400 !important;
  color: #000 !important;
  font-size: var(--font-size) !important;
}
